<aside>
  <div class="company-name">
    <a href="/">
    <span>DISIGN</span>
  </a>
  </div>
  <div class="menu">
      <a href="/request" class="btn btn-upload">
          <span><i class="bi bi-file-plus"></i></span>
          <span class="link link-btn">Request</span>
        </a>
        <a href="/sign" class="btn btn-sign">
          <span><i class="bi bi-pen"></i></span>
          <span class="link link-btn">Sign</span>
        </a>
      <a href="/">
        <span><i class="bi bi-house-door"></i></span>
        <span class="link">Home</span>
      </a>
      <a href="/document">
        <span><i class="bi bi-card-list"></i></span>
        <span class="link">Documents</span>
      </a>
      <a href="/profil">
        <span><i class="bi bi-person"></i></span>
        <span class="link">Profil</span>
      </a>
      <a href="/logout">
        <span><i class="bi bi-box-arrow-left"></i></span>
        <span class="link">logout</span>
      </a>  
  </div>
</aside>